<div class="bg-warning" id="static">
    <div class="header text-center mt-5 w-50 p-3">
        <h1 class="display-4">E-Learning System</h1>
        <br />
        <br />
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn</a>
    </div> 
</div>




