<nav class="navbar navbar-expand-lg bg-warning navbar-light">
  <a class="navbar-brand" href="#"><i class="fas fa-dragon"></i>E-Learning</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to "Home", root_path,class:"nav-item nav-link" %>
      <%= link_to "About", about_path,class:"nav-item nav-link" %>
      <a class="nav-item nav-link" href="#">Users</a>
      <a class="nav-item nav-link" href="#" tabindex="-1" aria-disabled="true">Login</a>
    </div>
  </div>
</nav>


<body class="bg-warning">
    <div class="jumbotron text-center mt-5 w-50 p-3">
        <h1 class="display-4">E-Learning System</h1>
        <br />
        <br />
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn</a>
    </div> 
</body>

    <footer>
        <hr />
        <div class="bg-white w-75 mx-auto">
            <span class="text-black float-right">
                <%= link_to "Home", root_path, class: "text-muted" %>
                <%= link_to "About", about_path, class: "text-muted" %>
            </span>
            <!-- text-white changes the color of the text to white -->
            <p class="text-black">AwesomeBlog appliation © Ryoma Oshimoto</p>
        </div>
    </footer>




