<div id="static">
    <div class="header text-center w-50 p-3">
        <h1 class="display-4 mt-5">E-Learning System</h1>
        <br>
        <br>
        <p>Welcome to my Elearning site.<p>
        <br>
        <%= link_to "Login", login_path, class: 'btn btn-info btn-lg' %>
        <%= link_to "Signup", signup_path, class: 'btn btn-info btn-lg' %>
    </div> 
</div>




