<footer class="footer fixed-bottom w-75 mx-auto">
    <hr />
    <div class="bg-white w-75 mx-auto">
        <span class="text-black float-right">
            <%= link_to "Home", root_path, class: "text-muted" %>
            <%= link_to "About", about_path, class: "text-muted" %>
        </span>
        <!-- text-white changes the color of the text to white -->
        <p class="text-black">AwesomeBlog appliation © Ryoma Oshimoto</p>
    </div>
</footer>